## Tabulation & Categorical Data Analysis
* One way, two way & three way tables
* Margin & percentage tables
* Chi-square Test of Association
* Fisher's Exact Test of Association

In [ ]:
#Setting working Directory
import os
os.getcwd()
os.chdir('C:\\Users\\TARUN\\Desktop\\Python')
os.getcwd()

In [5]:
import pandas as pd

In [6]:
people = pd.read_csv('https://raw.githubusercontent.com/edyoda/Data-Scientist-program/master/Practice%20Problems/data/people2.csv')

In [7]:
people.head()

   Subject Eye Color  Height  Hand Span     Sex Handedness Height Cat
0        1     Brown     186        210    Male          R       Tall
1        2     Green     182        220    Male          R       Tall
2        3     Brown     147        167  Female        NaN        NaN
3        4     Green     157        180  Female          L      Short
4        5     Brown     170        193    Male          R     Medium

In [8]:
people.dtypes

Subject        int64
Eye Color     object
Height         int64
Hand Span      int64
Sex           object
Handedness    object
Height Cat    object
dtype: object

In [ ]:
people.describe(include='all')

In [ ]:
people.describe()

In [ ]:
people['Eye Color'].describe()

In [ ]:
people.Sex.describe()

# One way Frequency table

In [ ]:
people['Eye Color'].value_counts()

In [ ]:
people['Eye Color']

In [ ]:
people['Eye Color'].value_counts().sum()

In [ ]:
people['Eye Color'].value_counts().max()

In [ ]:
people.shape#rows and columns

### Two way contigency Table/ Cross tab

In [ ]:
table = pd.crosstab(people['Eye Color'],people['Sex'])
table

### Adding Margins

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'],margins = True)#marginal distribution

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'], margins = True,margins_name='sum')

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'],margins=True, margins_name='Total')

### Percentage Table

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'],margins = True,margins_name = 'Percentage', normalize = 'all').round(2)

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'],margins=True, margins_name='Total')

In [ ]:
pd.crosstab(people['Eye Color'],people['Handedness'])

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'],normalize = 'columns')

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'],margins = True,margins_name = 'Percentages',normalize='index')#Row vise

In [ ]:
pd.crosstab(people['Eye Color'],people['Sex'],margins = True,margins_name='Percentages',normalize='columns')#columns vise

### Three Way contigency table

In [ ]:
pd.crosstab(people['Eye Color'],[people['Sex'],people['Height Cat']])

In [ ]:
pd.crosstab([people['Eye Color'], people['Sex']], [people['Height Cat'], people['Handedness']])#Notice the difference 
# Eye color and sex in row height cat in column

### Chi-Square Test of Association

In [ ]:
from scipy.stats import chi2_contingency
chi2_contingency(table)

In [ ]:
table

###### It gives chi sqare statistics, p-value and expected frequencies there is no association between these variables.

### Fisher's Exact Test

In [ ]:
import scipy.stats as stats

In [ ]:
oddsratio,pvalue = stats.fisher_exact(table)
pvalue

In [ ]:
table.shape

R supports Fisher's Exact Test for larger cross tables, howver as of now python only supports fisher's exact test for 2*2 table https://stackoverflow.com/questions/25368284/fishers-exact-test-for-bigger-than-2-by-2-contingency-table

### Using researchpy library ffor categorical data analysis

https://readthedocs.org/projects/researchpy/downloads/pdf/latest/

In [2]:
#pip install researchpy
# conda install -c researchpy researchpy
import researchpy as rp

In [3]:
rp.summary_cat(people['Sex'])

NameError: name 'people' is not defined

######  Returns a data table as a pandas DataFrame that includes the counts and percentages of each category. If there are missing data present(numpy.nan), they will be excluded from the counts. However, if the missing data is coded as a string, it will be included as it's own category

In [ ]:
rp.summary_cat(people['Sex'],ascending=True) # In ascending order

In [ ]:
rp.summary_cat(people['Eye Color'],people['Sex'])

In [9]:
rp.crosstab(people['Eye Color'],people['Sex'])

             Sex
          Female Male All
Eye Color
Blue           3    4   7
Brown          1    5   6
Green          2    1   3
All            6   10  16

In [11]:
table,results = rp.crosstab(people['Eye Color'],people['Sex'],test='chi-square')
print(table)
results
# Available tests  “chi-square”, “g-test”, “mcnemar”, or “fisher”
# 'Yates correction also available'

             Sex
          Female Male All
Eye Color
Blue           3    4   7
Brown          1    5   6
Green          2    1   3
All            6   10  16

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =    2.2857
1                    p-value =    0.3189
2                 Cramer's V =    0.3780

### Other Consideration

 Post Hoc Tests with correction https://pythonfordatascience.org/chi-square-test-of-independence-python/